<h1>About Me</h1>
<p>Hi, my name is Yuli Zhou. A business student. But this blog won't be filled up with memos or market analysis.<br>
Here will have notes about:<br>
<ul>
    <li>Web Development</li>
    <li>Linux related</li>
    <li>Data Analysis</li>
    <li>3D Printing (till I get one)</li>
    <li>Other Areas of Study</li>
    <li>Personal Gibberish</li>
</ul><br>
I saw this place as a real serious note-taking and info-sharing blog. You might ask, is that too late to start writing a blog? Well, I've started four blogs before and abandoned them later and I've been having a thought of having a full-control blog of mine. And finally here it is.<br>
<br>
Always Keep Cool.<br><br>
Contact Me:<br>
colinxt [at] gmail.com
</p>