/*  Article  */
#article_container {
    float: left;
    width: auto;
    padding: 30px 0 60px;
    overflow: auto;

    article {
        padding: 0 4% 20px;
    }

    #comment {
        padding-right: 15px;
    }

    #tags {
        color: grey;
        font-style: italic;
    }
}