footer {
    width: 100%;
    height: 50px;
    background-color: #272822;
    box-shadow: inset 0 6px 18px black;
    text-shadow: none;
    position: relative;
    margin-top: -60px;
    clear: both;

    small {
        line-height: 50px;
        margin-right: 7%;
        float: right;
    }
}