/*  Sidebar  */
aside {
    float: left;
    width: 15%;
    height: 200px;
    // background-color: #517798;

    img {
        display: block;
        margin: 20px auto;
    }

    #navbar {
        text-align: center;
    }
}