/*  Sidebar  */
aside {
    float: left;
    width: 160px;
    background-color: rgba(255,255,255,.4);

    ul {
        list-style: none;
        margin: 0 auto;
        padding: 0;
    }

    img {
        display: block;
        margin: 20px auto;
    }

    #navbar {
        text-align: center;
        margin: 20px 0;

        #shortcut {
            margin-top: 30px;
        }
    }
}