@import "clearfix";
@import "fonts";

/*  Global  */

/* Mixins */
@mixin code-etc {
  color: #000; 
  font-family: monospace; 
  font-size: 1em; 
  border-radius:3px;
  background-color: #F8F8F8;
  border: 1px solid #CCC; 
}

/*limited reset*/
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align:baseline;
    font: inherit;
}

/*  html5 display rule  */
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, section, summary {
    display: block;
}

html {
    margin:0;
    padding:0;
    background: url(gray_jean.png);
    height: 100%;
}

body {
    font-family: 'KreonRegular', Georgia, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #282828;
    width: 100%;
    height: 100%;
    margin: 0 auto;  
    text-shadow: 1px 1px white;
}

ul, ol { margin: 1em 0; padding: 0 0 0 2em; }
li p:last-child { margin:0 }

blockquote{
  color:#666;
  margin:0;
  padding-left: 3em;
  border-left: 0.5em #777 solid;
  margin: 10px 0;
}

a {
    text-decoration: none;
    color: #282828;
    
    &:hover {
        color: #F90;
    }
}


/*  Typography  */
h1, h2, h3, h4, h5, h6 {
  line-height: 1em;
}

h1 {
  font-size: 2.5em;
  padding-bottom: 30px;
  text-align: center;
  font-family: 'OpenSansLight', 'Times New Roman', serif;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  padding-bottom: 5px;
  font-weight: normal;
  border-bottom:1px solid silver;
  margin: .83em 0;
}

h3 {
  font-size: 1.5em;
  padding: 5px 0;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

small {
  color: grey;
  font-style: italic;
  word-spacing: .5em;
}

p {
  line-height: 1.3em;
  text-shadow: 1px 1px white, -1px -1px rgba(210,210,210,.6);
  padding-bottom: .8em;
  code {
    @include code-etc;
    padding: 0 4px;
  }
  a {
      color: #F90;
      &:hover {
        text-decoration: underline;
      }
  }
}

kbd, samp { 
  @include code-etc;
}

hr { 
  display: block; 
  height: 2px; 
  border: 0; 
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #eee; 
  margin: 1em 0; 
  padding: 0; 
}

.btn-submit {
  float: left;
  margin: 10px 0;
}

.field {
  display: block;
}

/*  Special Elements  */

.container {
    width: 960px;
    margin: 0 auto;
    min-height: 100%;
}


.CodeRay {
  border: 1px solid grey;
  background-color: rgba(245,245,245,.8);
  margin: 10px 0;
  text-shadow: none;

  pre {
    padding: 0 5px;
    // white-space: pre; 
    white-space: pre-wrap; 
    word-wrap: break-word;
  }
}

.continue {
  font-size: .9em;
  padding-top: 10px;
}

.pagination {
  text-align: center;
  margin-top: 15px;
  word-spacing: .5em;
}

.timeInfo {
    padding-bottom: 15px;
    text-align: right;
}
