@import "article";
@import "clearfix";
@import "fonts";
@import "header";
@import "sidebar";


/*  Global  */

/*limited reset*/
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align:baseline;
    font: inherit;
}

/*  html5 display rule  */
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {
    display: block;
}

html {
    margin:0;
    padding:0;
}

body {
    font-family: 'KreonRegular', Georgia, Helvetica, sans-serif;
    position: relative;
    font-weight: normal;
    font-style: normal;
    color: #282828;
    width: 100%;
    margin: 0 auto;
    background: url(gray_jean.png);
    text-shadow: 1px 1px white;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    
    &:hover {
        text-decoration: underline;
        color: #F90;
    }
}


/*  Typography  */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  font-weight: 300;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'OpenSansLight', 'Times New Roman', serif;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  line-height: 1.5em;
  text-shadow: 1px 1px white, -1px -1px rgba(210,210,210,.6);
}


/*  Main Content  */
.container {
    width: 80%;
    margin: 0 auto;
}

.debug_dump {
  width: 100%;
  margin-top: 30px;
  float: left;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}
